.preloader {
  position: fixed; /* Ensures the preloader covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #051422; /* Set your desired preloader background color */
  z-index: 9999; /* Ensure it stays above other elements */
}

.preloader .loader {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: preloader-infinite-spinning 4s infinite;
  animation-timing-function: linear;
  transform-origin: 335% 500%;
}

.preloader .moon1 {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -100px;
  width: 200px;
  height: 200px;
  background: #E3B00C;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(227, 176, 12, 0.6), inset -25px 0px 0 0px #be940a;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.preloader .moon1:hover {
  transform: scale(1.2);
  box-shadow: 0 0 60px 30px rgba(227, 176, 12, 0.8), inset -25px 0px 0 0px #be940a;
}

.preloader li {
  position: absolute;
  list-style: none;
  background: #917108;
  border-radius: 50%;
}

.preloader li:nth-child(1) {
  left: 25px;
  top: 60px;
  width: 50px;
  height: 50px;
  box-shadow: inset 6px -2px 0 0px #634d06;
}

.preloader li:nth-child(2) {
  left: 150px;
  top: 50px;
  width: 25px;
  height: 25px;
  box-shadow: inset 3px -1px 0 0px #634d06;
}

.preloader li:nth-child(3) {
  left: 100px;
  top: 150px;
  width: 25px;
  height: 25px;
  box-shadow: inset 3px -1px 0 0px #634d06;
}

.preloader li:nth-child(4) {
  left: 50px;
  top: 150px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #634d06;
}

.preloader li:nth-child(5) {
  left: 87.5px;
  top: 16.66666667px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #634d06;
}

.preloader li:nth-child(6) {
  left: 114.28571429px;
  top: 80px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #634d06;
}

.preloader li:nth-child(7) {
  left: 181.81818182px;
  top: 100px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #634d06;
}

.preloader .moon-text {
  color: #E3B00C;
  font-size: 3em;
  position: absolute;
  left: 48%;
  top: 80%;
  margin: -100px;
}

/* Keyframes for animation */
@keyframes preloader-infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
